<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Buss Pass</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type='text/css'
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type='text/css'
	href="../static/css/dataTables.bootstrap.min.css"
	th:href="@{/css/dataTables.bootstrap.min.css}" />
<script src="../static/js/bootstrap.min.js"
	th:src="@{/js/bootstrap.min.js}"></script>
<script src="../static/js/dataTables.bootstrap.min.js"
	th:src="@{/js/dataTables.bootstrap.min.js}"></script>
<script src="../static/js/jquery-3.3.1.js"
	th:src="@{/js/jquery-3.3.1.js}"></script>
<script src="../static/js/jquery.dataTables.min.js"
	th:src="@{/js/jquery.dataTables.min.js}"></script>
<script src="../static/js/bootbox.js" th:src="@{/js/bootbox.js}"></script>
<script src="../static/js/bootbox.min.js" th:src="@{/js/bootbox.min.js}"></script>
<link rel='stylesheet' type='text/css'
	href='../static/css/coming-soon.min.css'
	th:href="@{/css/coming-soon.min.css}" />
<!-- <link rel='stylesheet' type='text/css'
	href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'/> -->

<style>
.right_panel {
	width: 80rem;
	z-index: 99;
}

.right_panel label {
	font-weight: bold;
}

.zIndex99 {
	z-index: 99;
}

.overlay {
	float: left;
	z-index: 100;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 2000px;
	height: 1000px;
	background-color: rgba(100, 100, 100, 0.3);
	content: " ";
	display: none;
}
</style>

<script type="text/javascript">
	$(document).ready(function() {
		$('#log').DataTable({
			responsive: true,
		});
	});

	function toggleWorkingScreen(doShow) {
		if (doShow) {
			$(document.body).css("cursor", "wait");
			$("#working-screen").css("display", "block");
		} else {
			$(document.body).css("cursor", "default");
			$("#working-screen").css("display", "none");
		}
	}

	function doAction(urlPath) {
		//alert(urlPath);
		toggleWorkingScreen(true);
		$.ajax({
			type : 'GET',
			url : urlPath,
			contentType : 'text/plain',
			success : function(data) {
				bootbox.alert(data.data);
				//data needs to be added in table here

			},
			error : function(data) {
				bootbox.alert(JSON.parse(data.responseText).data);
				//var tb = $("#log").DataTable();
			},
			complete : function() {
				toggleWorkingScreen(false);
				location.reload();
			}
		})

	}

	function logout(url) {
		toggleWorkingScreen(true);
		$.ajax({
			type : 'GET',
			url : url,
			contentType : 'text/plain',
			success : function(data) {
				bootbox.alert("Successfully logged out.");

			},
			error : function(data) {
				bootbox.alert(data.responseText);
			},
			complete : function() {
				toggleWorkingScreen(false);
				location.reload();
			}
		})
	}
</script>

</head>
<body>
	<div id="working-screen" class="overlay"></div>
	<video playsinline="playsinline" autoplay="autoplay" muted="muted"
		loop="loop"> <source src="../static/video/bus.mp4"
		th:src="@{/video/bus.mp4}" type="video/mp4"></video>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark zIndex99">
	<ul class="navbar-nav">
		<li class="nav-item"><a class="nav-link"
			th:if="${employeeRole eq 'EMPLOYEE'}" th:href="${pathApply}">Apply</a>
		</li>
		<li class="nav-item"><a class="nav-link" th:href="${pathManage}">Manage</a>
		</li>
		<li class="nav-item active"><a class="nav-link" href="#"
			th:attr="onclick=|logout('${logoutUrl}')|">Log Out</a></li>
	</ul>
	<ul class="navbar-nav" style="margin-left: 70%">
		<li class="nav-item"><a class="navbar-brand text-primary"
			href="#">Welcome <span th:text="${employeename}"></span></a></li>
	</ul>
	</nav>
	<div class="overlays"></div>
	<div class="register_panel d-flex">
		<!-- <div class="masthead">
			<div class="masthead-bg"></div>
			<div class="container h-100">
				<div class="row h-100">
					<div class="col-12 my-auto">
						<div class="masthead-content text-white py-5 pb-2">
							<h2 class="mb-3 text-center">Infosys Buss Pass</h2>
							<h3 class="mb-3 text-center">Coming Soon!!!</h3>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<div class="right_panel" style="margin: 50px 30px 50px 30px">
			<div class="row">
				<div class="col-md-12">
					<h2 class="text-white">Pass Log Details:</h2>
					<!-- <div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text" >View passes:</span>
						</div>
						<select id="show-selection" class="form-control" onchange="showBussPassList(this)">
							<option value="byme" selected>Applied by me</option>
							<option value="forme">Requires my approval</option>
						</select>
					</div> -->
					<div class="card">
						<div class="card-body">
							<table id="log" class="table responsive table-striped table-bordered"
								style="width: 100%">
								<thead>
									<tr>
										<th>Employee Id</th>
										<th>DC Name</th>
										<th>Shuttle Time</th>
										<th>Reason</th>
										<th>Status</th>
										<th>Option</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="shuttleRequest : ${shuttleRequestList}">
										<td th:text="${shuttleRequest.requester}"></td>
										<td th:text="${shuttleRequest.dcFrom}"></td>
										<td th:text="${shuttleRequest.forDate}"></td>
										<td th:text="${shuttleRequest.reason}"></td>
										<td><span th:if="${shuttleRequest.status eq 'PENDING'}">Pending</span>
											<span th:if="${shuttleRequest.status eq 'CANCELLED'}">Cancelled</span>
											<span th:if="${shuttleRequest.status eq 'APPROVED_MGR'}">Approved
												By Manager</span> <span
											th:if="${shuttleRequest.status eq 'APPROVED_TRNS'}">Approved
												By Transport</span> <span
											th:if="${shuttleRequest.status eq 'REJECTED_MGR'}">Rejected
												By Manager</span> <span
											th:if="${shuttleRequest.status eq 'REJECTED_TRNS'}">Rejected
												By Transport</span></td>
										<td>
											<button
												th:if="${employeeRole eq 'MANAGER' && shuttleRequest.status eq 'PENDING'}"
												th:attr="onclick=|doAction('${optionUrl}${shuttleRequest.requestId}/APPROVED_MGR')|">Approve</button>
											<button
												th:if="${employeeRole eq 'MANAGER' && shuttleRequest.status eq 'PENDING'}"
												th:attr="onclick=|doAction('${optionUrl}${shuttleRequest.requestId}/REJECTED_MGR')|">Reject</button>
											<button
												th:if="${employeeRole eq 'TRANSPORT' && shuttleRequest.status eq 'APPROVED_MGR'}"
												th:attr="onclick=|doAction('${optionUrl}${shuttleRequest.requestId}/APPROVED_TRNS')|">Approve</button>
											<button
												th:if="${employeeRole eq 'TRANSPORT' && shuttleRequest.status eq 'APPROVED_MGR'}"
												th:attr="onclick=|doAction('${optionUrl}${shuttleRequest.requestId}/REJECTED_TRNS')|">Reject</button>
											<button
												th:if="${employeeRole eq 'EMPLOYEE' && shuttleRequest.status eq 'PENDING'}"
												th:attr="onclick=|doAction('${optionUrl}${shuttleRequest.requestId}/CANCELLED')|">Cancel</button>
											<!-- <a th:href="@{${optionUrl}+${shuttleRequest.requestId}+'/Approved'}">Approve</a>
										<a th:href="@{${optionUrl}+${shuttleRequest.requestId}+'/Rejected'}">Reject</a>
										<a th:href="@{${optionUrl}+${shuttleRequest.requestId}+'/Cancelled'}">Cancel</a> -->
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
