<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Buss Pass</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type='text/css'
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type='text/css'
	href="../static/css/dataTables.bootstrap.min.css"
	th:href="@{/css/dataTables.bootstrap.min.css}" />
<script src="../static/js/bootstrap.min.js"
	th:src="@{/js/bootstrap.min.js}"></script>
<script src="../static/js/dataTables.bootstrap.min.js"
	th:src="@{/js/dataTables.bootstrap.min.js}"></script>
<script src="../static/js/jquery-3.3.1.js"
	th:src="@{/js/jquery-3.3.1.js}"></script>
<script src="../static/js/jquery.dataTables.min.js"
	th:src="@{/js/jquery.dataTables.min.js}"></script>
<link rel='stylesheet' type='text/css'
	href='../static/css/coming-soon.min.css'
	th:href="@{/css/coming-soon.min.css}" />
<!-- <link rel='stylesheet' type='text/css'
	href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'/> -->

<style>
.right_panel {
	width: 42rem;
	z-index: 99;
}

.right_panel label {
	font-weight: bold;
}

.zIndex99 {
	z-index:99;
}

</style>

<script type="text/javascript">
	$(document).ready(function() {
    $('#log').DataTable({
        "scrollX":true,
        "scrollY":"300px"
    });
	});

	function toggleWorkingScreen(doShow) {
		if(doShow) {
			$(document.body).css("cursor","wait");
			$("#working-screen").css("display","block");
		} else {
			$(document.body).css("cursor","default");
			$("#working-screen").css("display","none");
		}
	}	
	
	function showBussPassList(obj) {
		var selectedValue = obj.value;
		var urlPath = '[[${path}]]';
		var id = '[[${employeeid}]]';
		alert(urlPath+'/search/'+obj.value+'/'+id);
		$.ajax({
	        type: 'GET',
	        url: urlPath+'/search/'+obj.value+'/'+id,
	        contentType: 'text/plain',
	        success:function(data){
	        	console.log(data);
	        	//data needs to be added in table here
	        	
	        },
	        error: function(data) {
	        	alert(JSON.parse(data.responseText));
	        	var tb = $("#log").DataTable();
	        },
	        complete: function() {
	        	toggleWorkingScreen(false);
	        }
		})
		
	}	
	
	
</script>

</head>
<body>

	<div class="overlays"></div>
	<video playsinline="playsinline" autoplay="autoplay" muted="muted"
		loop="loop"> <source src="../static/video/bus.mp4"
		th:src="@{/video/bus.mp4}" type="video/mp4"></video>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark zIndex99">
		<a class="navbar-brand text-primary" href="#">Shuttle Pass</a>
		  <ul class="navbar-nav">
		    <li class="nav-item">
		      <a class="nav-link" th:href="${pathApply}">Apply</a>
		    </li>
		    <li class="nav-item">
		      <a class="nav-link active" th:href="${pathManage}">Manage</a>
		  </li>
		</ul>
	</nav>
	<div class="register_panel d-flex">
		<div class="masthead">
			<div class="masthead-bg"></div>
			<div class="container h-100">
				<div class="row h-100">
					<div class="col-12 my-auto">
						<div class="masthead-content text-white py-5 pb-2">
							<h2 class="mb-3 text-center">Infosys Buss Pass</h2>
							<h3 class="mb-3 text-center">Coming Soon!!!</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="right_panel">
			<div class="row">
				<div class="col-md-12">
					<h2 class="text-white">Pass Log Details:</h2>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text" >View passes:</span>
						</div>
						<select id="show-selection" class="form-control" onchange="showBussPassList(this)">
							<option value="byme" selected>Applied by me</option>
							<option value="forme">Requires my approval</option>
						</select>
					</div>
					<div class="card">
						<div class="card-body">
							<table id="log" class="table table-striped table-bordered"
								style="width: 100%">
								<thead>
									<tr>
										<th>Employee Id</th>
										<th>DC Name</th>
										<th>Shuttle Time</th>
										<th>Reason</th>
										<th>Status</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="shuttleRequest : ${shuttleRequestList}">
										<td th:text="${shuttleRequest.requester}"></td>
										<td th:text="${shuttleRequest.dcFrom}"></td>
										<td th:text="${shuttleRequest.forDate}"></td>
										<td th:text="${shuttleRequest.reason}"></td>
										<td th:text="${shuttleRequest.status}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
