<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Spring boot eamil teplate with Thymeleaf</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>

    <!-- use the font -->
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }
        button{
	        background-color: #e7e7e7;
		    color: black;
		    width: 73px;
		    height: 19px;
		    font-size: smaller;
        }
    </style>
</head>
 <body>
    <p th:text="${'Hi ' + name}"></p>

    <p>
      <span th:text="${empName}"></span>'s(<span th:text="${empId}"></span>) shuttle pass for  <span th:text="${dateTime}"></span>
      has been <span th:text="${status}"></span><br/>
      Please allow him/her to board the bus.
    </p>
    <p>
      Regards, <br />
      <em th:text="${sign}"></em>
      <p th:text="${location}"></p>
    </p>
  </body>
  
</html>